---
http_interactions:
- request:
    method: post
    uri: https://todolist-test.eu.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"authorization_code","client_id":"C76UvHjgoWMaF6cNy62Cln0jau4U3jjX","client_secret":"PG9IDPFr8BDbrZJ89Soa3YJOOoTHCc0voog2NT9dZD-PAh5rzOTIkRrdJ0J3KC1Q","redirect_uri":"http://todolist.test/auth/callback","code":"asdf"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Auth0-Requestid:
      - 295e4665db8d05732859
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1519563914'
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_description":"Invalid authorization
        code"}'
  recorded_at: Sun, 25 Feb 2018 13:05:40 GMT
recorded_with: VCR 3.0.3
